<div class="box box-success" id="{{ id }}">
  <div class="nav-tabs-custom" style="cursor: move;">
    <ul class="nav nav-tabs pull-right ui-sortable-handle">
      <li class="pull-left header"><i class="fa fa-bars"></i>{{ title }}</li>
    </ul>
    <div class="tab-content no-padding">
      <ngx-loading [show]="loading" ></ngx-loading>
      <div class=" tab-pane active widget-frame">

        <div class="row widget-style">
          <div class="col-sm-12 col-md-12 col-lg-12 ">

            <div class="date-from-box">
              <p>Fra:</p>
              <datetime [datepicker]="datepickerOpts" [(ngModel)]="dateFrom" [timepicker]="{ showMeridian: false, minuteStep: 1, showSeconds:false, defaultTime:'current', explicitMode:false, icon: 'fa fa-clock-o'}"></datetime>
            </div>

          </div>

          <div class="col-sm-12 col-md-12 col-lg-12">
            <p>Til:</p>
            <div class="date-to-box">
              <datetime [datepicker]="datepickerOpts" [(ngModel)]="dateTo" [timepicker]="{ showMeridian: false, minuteStep: 5, showSeconds:false, defaultTime:'current', explicitMode:false,  icon: 'fa fa-clock-o'}"></datetime>
            </div>

          </div>

          <div class="col-sm-12 col-md-12 col-lg-12">
            <button type="button" (click)="onClick()" class="btn btn-primary small-mobile custom-btn-allstationsheatmap">Udregn</button>
            <p><b style="color:red">Rød:</b> over 55km/t  <b style="color:green">Grøn:</b> mellem 55 og 45 km/t <b style="color: #FEDF00 ">Gul:</b> under 45 km/t </p>
          </div>
        </div>
        
        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-12">
            <div #map id="map"></div>
          </div>

        </div>

      </div>
    </div>
  </div>