#map {
    height: 500px; 
    width: 100%;
}

.styled-select {
    width: 200px;
    height: 33px;
    overflow: hidden;
}   

.widget-style{
    margin-left: 20px;
    margin-top: 5px;
}

.spacing-btn{
    margin-left:25px;
}

.widget-frame{
    position: relative;
    height: auto; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


 /*Extra small devices (portrait phones, less than 417px)  */
@media (max-width: 417px) { 
    .styled-select {
        width: 110px;
        height: 33px;
        overflow: hidden;
    }   
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) { 
    .widget-style{
        margin-left: 20px;
        margin-top: 5px;
        margin-right: 20px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) { 

}

/* between 992 -1800 width) */
@media (min-width: 992px) and (max-width: 1800px){
    datetime .input-group {
        margin-bottom: 10px !important;
    }
}


/* ------------------------------------------------------------------------------------ */

.main-header .navbar {
    -webkit-transition: margin-left 0.3s ease-in-out;
    -o-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out;
    margin-bottom: 0;
    margin-left: 240px;
    border: none;
    min-height: 50px;
    border-radius: 0;
  }

  .main-header .logo {
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 240px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
  }

  .main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 240px;
    z-index: 810;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  }

  @media (max-width: 767px) {
    .main-sidebar {
      -webkit-transform: translate(-240px, 0);
      -ms-transform: translate(-240px, 0);
      -o-transform: translate(-240px, 0);
      transform: translate(-240px, 0);
    }
  }
  @media (min-width: 768px) {
    .sidebar-collapse .main-sidebar {
      -webkit-transform: translate(-240px, 0);
      -ms-transform: translate(-240px, 0);
      -o-transform: translate(-240px, 0);
      transform: translate(-240px, 0);
    }
  }
